#ant specific
dbs/dist/
dbs/build/
 
#netbeans specific
dbs/core
dbs/nbproject/*
!dbs/nbproject/project.properties
!dbs/nbproject/project.xml
 
#java specific
*.class
 
#general swap/backup files
*.so
*.log
*.out
*~
*.swp
*.DS_Store
*.lock

*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/TestWebService/nbproject/private/
/dbsWebService/nbproject/private/
/dbsWebService/build/
/TestWebService/build/
/dbsWebService/dist/
/TestWebService/dist/